<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :budget %><br />
    <%= f.select :budget, [['Hot','hot'],['Medium','medium'],['Cold','cold']] %>
  </div>
  <div class="field">
    <%= f.label :channel %><br />
    <%= f.select :channel, [['Hot','hot'],['Medium','medium'],['Cold','cold']] %>  
  </div>
  <div class="field">
    <%= f.label :experience_level %><br />
    <%= f.select :experience_level, [['Hot','hot'],['Medium','medium'],['Cold','cold']] %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>